html,
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

p,
a {
  font-size: 1.15rem; }

.btn {
  display: flex;
  justify-content: center;
  background-color: #d81b60; }
  .btn.modal-trigger {
    background-color: #d81b60; }
  .btn:hover {
    background-color: #ab154c; }

nav {
  padding: 15px; }
  nav.nav-extended .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.3rem; }
    @media only screen and (min-width: 601px) {
      nav.nav-extended .nav-wrapper {
        min-height: 100px;
        margin-top: 0px; } }
    nav.nav-extended .nav-wrapper li {
      margin: auto 1rem; }
    nav.nav-extended .nav-wrapper .sidenav-trigger {
      color: #d81b60; }
    @media (min-width: 992px) {
      nav.nav-extended .nav-wrapper a {
        left: 10%; } }
    nav.nav-extended .nav-wrapper a:hover {
      color: white;
      background-color: #d81b60; }
  nav img.responsive-img {
    width: 130px; }
  nav ul a {
    font-size: 1.25rem;
    color: #d81b60;
    font-weight: 500; }

.datepicker-date-display {
  background-color: #d81b60; }

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: #d81b60; }

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
.chips.focus {
  border-bottom: 1px solid #d81b60;
  -webkit-box-shadow: 0 1px 0 0 #d81b60; }

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #d81b60; }

.dropdown-content li > a,
.dropdown-content li > span {
  color: #d81b60; }

.tabs {
  display: flex;
  justify-content: center; }
  @media (max-width: 992px) {
    .tabs.tabs-transparent {
      margin-top: 2rem; } }
  .tabs.tabs-transparent .tab a,
  .tabs.tabs-transparent .tab a.active,
  .tabs.tabs-transparent .tab a:hover {
    color: #d81b60; }
  .tabs.tabs-transparent .indicator {
    background-color: #d81b60; }

.container {
  margin: 2rem auto; }

td,
th {
  text-align: center; }

.cards-action a {
  color: white; }
  .cards-action a .card-panel {
    background-color: #d81b60;
    padding: 2.4rem; }
    .cards-action a .card-panel h5 {
      margin: 0;
      text-align: center; }

/*# sourceMappingURL=custom.css.map */
